*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: sans-serif;   
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

body::before{
    content: '';
    position: absolute;
    inset: 0;
    background: url(Nitro_Wallpaper_5000x2813.jpg);
    background-attachment: fixed ;
    background-size: cover;
    background-position:center;

}
.container{
    position: relative;
    width: 350px;
    height: 340px ;
    border-radius: 15px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: 0.5s;
    overflow: hidden;
}
.container::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--a),#45f3ff 0%,#45f3ff 10%,transparent 10%,transparent 80%,#45f3ff 100%);
    border-radius: 20px;
    animation: animate 2.5s linear infinite;
}
@property --a{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate
{
    0%
    {
        --a: 0deg
    }
    100%
    {
        --a: 360deg
    }
}
.container span {
    position: absolute;
    inset: 5px;
    overflow: hidden;
    border-radius: 15px;
}

.container span::before
{
    content: '';
    position: absolute;
    inset: 5px;
    background: url(Nitro_Wallpaper_5000x2813.jpg);
    background-attachment: fixed ;
    background-size: cover;
    background-position:center;
    filter: blur(10px);


}


.container span::after
{
    content: '';
    position: absolute;
    inset: 5px;
    background: url(Nitro_Wallpaper_5000x2813.jpg);
    background-attachment: fixed ;
    background-size: cover;
    background-position:center;
    filter: blur(15px);
    

}

form {
    position: absolute;
    left:0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    transition: 0.5s;

}

form h2
{
    position: relative;
    color: #fff;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 10px;

}
 form .inputbox{
    position: relative;
    width: 70%;
    display: flex;
    justify-content: space-between;

 }

 form .inputbox a {
    color: #fff;
    text-decoration: none;
    font-size: 0.85em;

 }

 form .inputbox a:nth-child(2){
    text-decoration: underline;

 }
 form .inputbox input{
    width: 100%;
    outline: none;
    border: 1px solid rgba(255,255,255,0.25);
    background: rgba(0,0,0,0.15);
    padding: 6px 15px;
    border-radius: 4px;
    font-size: 0.85em;
    color: #fff;

 }
 form .inputbox input::placeholder{
    color: rgba(255,255,255,0.5);
 }