.{
    margin:0;
    padding:auto;
    box-sizing: border-box;
    font-family: consolas;
    background: #434750;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #434750;
    transition: 0.5s;
    transition-delay: 0.5s;
}
.aqua{
    position: relative;
    width: 500px;
    padding: 10px;
    border-radius: 50px;
    box-shadow: inset 0 10px 5px rgba(0, 0,0,0.075),
    0 15px 8px rgba(0, 0,0,0.05),
    0 10px 15px rgba(0, 0,0,0.05),
    inset 0 -10px 15px rgba(255,255,255,0.9);
    transition: 0.5s;
}

.aqua::after{
    content: '';
    position: absolute;
    top:8px;
    left:50%;
    transform: translateX(-50%) ;
    width: 95%;
    height: 5px;
    border-radius: 20px;
    background: #fff4;
}
.percentBar
{
    position: relative;
    display: block;
    width: 10%;
    height: 10px;
    background: #fff;
    border-radius: 20px;

}

.number{
    position:absolute;
    top:-70px;
    right: -55px;
    padding: 10px 15px;
    color: #fff;
    border-radius: 50px;
    border-bottom-left-radius: 0;
    box-shadow: inset 0 10px 5px rgba(0, 0,0,0.075),
    0 15px 8px rgba(0, 0,0,0.05),
    0 10px 15px rgba(0, 0,0,0.05),
    inset 0 -10px 15px rgba(255,255,255,0.9);
    
}

.homepage
{
    position: absolute;
    visibility: hidden;
    opacity: 0,;
    font-weight: 500;
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    transition: 0.5s;
    color: #eee;
    transition-delay: 1s;
    background: #434750;

}

.list{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

ul li{
    position:  relative;
    list-style: none;
    width: 800px;
    background: #3e3f46;
    padding: 15px;
    z-index: var(--i);
    transition: 0.5s;

}
ul li:hover{
    background: #33a3ee ;/* this is the color of the individual blocks when we hover over them*/
    transform: translateX(-50px);
}

ul li ::before{
    content: '';
    position: absolute;
    top:0px;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #2e3133 ;/*this is the color of the tilted part */
    transform-origin: right;
    transform: skewY(45deg);
    transition:0.5s
}

ul li :hover::before{
    background: #1f5378;

}
ul li ::after{
    content: '';
    position: absolute;
    top:-40px ;
    left: 0;
    width: 100%;
    height: 40px;
    background: #35383e;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;

}

ul li :hover::after{
    background: #2982b9;
}

ul li a {
    text-decoration: none;
    color: #999 ;
    display: block;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 0.05em;
    

}

ul li:hover a {
    color:#fff;

}
